<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :verified %>
  <%if params[:action]=='new' or params[:action]=='create'%>
  <div class="field">
    姓名*<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Email*<br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    身份<br>
    <%= f.select :identity, identityOptions, {prompt: '選擇身份'}%> 
  </div>  
  <%else%>
  
  <div class="field">
    姓名<br>
    <%= @user.name %>
  </div>
  <div class="field">
    Email<br>
    <%= @user.email %>
  </div>
  <div class="field">
          會員身份<br>
    <%= Hash[identityOptions].rassoc(@user.identity).first%> 
  </div>  
  <div class="field">
	密碼*<br>
	<%=f.password_field :pw, size: 40 %>
  </div>
  <div class="field">
	密碼確認*<br>
	<%=f.password_field :pw_confirmation, size: 40 %>
  </div>   
  <%if @user.identity==GLOBAL_VAR['identity_employee']%>
  <div class="field">
    分機<br>
    <%= f.number_field :extend %>
  </div>
  <%end%>
  <div class="field">
    年齡<br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    性別<br>
	<%=f.radio_button :gender, "true"%>男
	<%=f.radio_button :gender, "false"%>女
  </div>
  <div class="field">
         最高學歷<br>
    <%= f.text_field :education %>
  </div>
  <div class="field">
    生日<br>
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    地址<br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    電話號碼<br>
    <%= f.text_field :phone_no %>
  </div>
  <div class="field">
          手機號碼<br>
    <%= f.text_field :mobile_no %>
  </div>
  <div class="field">
  	  國籍<br>
    <%= country_select("user", "nationality", {}, { selected: "Taiwan, Republic Of China "})%>
  </div>  
  <div class="field">
          身分証字號<br>
    <%= f.text_field :id_no %>
  </div>
  <div class="field">
         護照號碼<br>
    <%= f.text_field :passport_no %>
  </div>

  <%end%>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
