<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cce_class_id %><br>
	<%= f.select :cce_class_id , options_from_collection_for_select( CceClass.where('status <> ?', GLOBAL_VAR['status_finished']).order("id DESC"), 'id', 'title'), {prompt: '選擇相關推廣教育課程'} %> 
  </div>
  <div class="field">
    <%= f.label :標題 %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :內容 %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :封面上傳 %><br>
	<%= f.file_field :cover, accept: "image/*"%>    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
