<%= link_to '申請刊登最新消息', new_news_path %>

<h1>最新消息列表</h1>

<table>
  <thead>
    <tr>
      <th>名稱</th>
      <th>建立日期</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.created_at.strftime "%Y-%m-%d" %></td>        
        <td><%= link_to '詳細', news %></td>
        <td><%= link_to '編輯', edit_news_path(news) %></td>
        <td><%= link_to '刪除', news, method: :delete, data: { confirm: '您確定要刪除 '+news.title+' ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @cce_classes %>
