

<p>
  <strong>Cce class:</strong>
  <%= @news.cce_class %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<p>
  <strong>View:</strong>
  <%= @news.view %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @news.cover %>
</p>

