<div class="cce_left_menu_container">
	<div class="signIn_container">
		<%if session[:user_id].blank?%>
		<div class="login">
			<%=form_tag '/users/signIn' do%>			
				<%=text_field_tag :email, params[:email], placeholder: 'Email'%>
				<%=password_field_tag :password, params[:password], placeholder: '密碼'%>		
				<%=submit_tag "登入"%><a href="#" style="color: #f9f9f9;"><span class="forget_pw" >忘記密碼?</span></a> 
			<%end%>		
		</div>
		<%else%>
			<%=link_to '登出', '/users/logOut'%>	
		<%end%>	
	</div>	
	<div class="mid_container">
		<ul>
			<li>
				<%=link_to controller: 'news', action: 'index' do%>
				<span class="mid_container_img">
					<span class="course_news-icon icon-sound"></span>
				</span>
				<span class="mid_container_word">
					<div class="mid_container_CH">
					消息公告
					</div>
					<div class="mid_container_EN">
					NEWS
					</div>					
				</span>	
				<%end%>
			</li>
			<li>
				<%=link_to controller: 'cce_classes', action: 'index' do%>
				<span class="mid_container_img">
					<span class="course_news-icon icon-stack"></span>					
				</span>
				<span class="mid_container_word">
					<div class="mid_container_CH">
					推廣教育課程
					</div>
					<div class="mid_container_EN">
					COURSE
					</div>
				</span>
				<%end%>
			</li>					
		</ul>		
	</div>
	<div class="bot_container">
		<ul>
			<li>
				<span class="bot_container_img">
					<span class="left_bot-icon icon-institution"></span>
				</span>
				<span class="bot_container_word">
					<div class="bot_container_CH">
					中心現況
					</div>					
				</span>	
			</li>
			<li>
				<span class="bot_container_img">
					<span class="left_bot-icon icon-location"></span>
				</span>
				<span class="bot_container_word">
					<div class="bot_container_CH">
					中心位置
					</div>
				</span>
			</li>	
			<li>
				<span class="bot_container_img">
					<span class="left_bot-icon icon-users"></span>
				</span>
				<span class="bot_container_word">
					<div class="bot_container_CH">
					成員執掌
					</div>
				</span>
			</li>	
			<li>
				<span class="bot_container_img">
					<span class="left_bot-icon icon-justice"></span>					
				</span>
				<span class="bot_container_word">
					<div class="bot_container_CH">
					法規及表格
					</div>
				</span>
			</li>											
		</ul>		
	</div>	
	<div class="bot_line">	
		<div class="bot_line_left">
		</div>	
		<div class="bot_line_right">
		</div>				
	</div>	
</div>	
